.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: 200ms;
}

.button img {
    width: 15px;
    height: 15px;
    display: block;
}

.button p {
    font-size: 15px;
    color: #fff;
}

.button:hover {
    background-color: #3B404A;
}